<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Detail Page</title>
</head>
<body>
<h1>Book Detail Page</h1>
<form th:action="@{/book/insertSentence}" th:method="post">
    <button type="submit">문장 추가</button>
</form>

<form th:action="@{/book/insertSentenceFromFile(bookId = ${param.bookId}, title = ${param.title})}" th:method="post">
    <button type="submit">파일로 문장 추가</button>
</form>

<ul th:each="item : ${list}">
    <li>[[${item.sentenceText}]]</li>
</ul>


</body>
</html>