<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://accounts.google.com/gsi/client" async></script>
    <title>Create Book</title>
</head>
<body>
<h1>로그인</h1>

<div id="g_id_onload"
     data-client_id="234620413168-isfsfqgedg2tsm3g66hrb9lvd0e236g7.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost:8000/google-login"
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>

<script type="text/javascript">

</script>
</body>
</html>